body  { background-color: #F5F5F5;
    color: #3f2860;
    font-family: Arial, Verdana, sans-serif; }
    
    
    header  { background-color: #9BC1C2;
    text-align: center;  }
    
    
    h1 { line-height:  200px; }  


    nav {font-weight: bold; text-align: center;} 
    nav a { text-decoration: none; }

    ul   { font-weight: bold; }
    
    footer { color: #9BC1C2;
        font-size: .60em;
        font-style: italic; 
     text-align: center; }
    
    .studio {font-style: italic;} 

    #wrapper {width: 80%; margin-right: auto; margin-left: auto;}